<div class="profile-container">
  <div style="display: flex; justify-content: center; align-items: center">
    <div style="padding-right: 50px">
      <img src="" id="image" class="pfp" />
      <h4 class="bio">{{ bio }}</h4>
    </div>
  </div>
  <div>
    <app-attribute attributeName="username" attributeValue="mc"></app-attribute>
    <app-attribute attributeName="name" attributeValue=""></app-attribute>
    <app-attribute attributeName="location" attributeValue=""></app-attribute>
    <app-attribute attributeName="titles" attributeValue=""></app-attribute>
    <app-attribute
      attributeName="favorite language"
      attributeValue=""
    ></app-attribute>
    <app-attribute
      attributeName="public repos"
      attributeValue=""
    ></app-attribute>
    <app-attribute
      attributeName="total stars"
      attributeValue=""
    ></app-attribute>
    <app-attribute
      attributeName="highest starred"
      attributeValue=""
    ></app-attribute>
    <app-attribute
      attributeName="perfect repos"
      attributeValue=""
    ></app-attribute>
    <app-attribute attributeName="followers" attributeValue=""></app-attribute>
    <app-attribute attributeName="following" attributeValue=""></app-attribute>
  </div>
</div>
