<div class="profile-container">
  <div style="display: flex; justify-content: center; align-items: center">
    <div style="padding-right: 50px">
      <img src="../../../assets/cute_girl.png" alt="cute girl" class="pfp" />
      <h4 class="bio">I like to build stuff.</h4>
    </div>
  </div>
  <div>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
    <app-attribute></app-attribute>
  </div>
</div>
