<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <app-text-input (usernameChange)="receiveUsername($event)"></app-text-input>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Inspect</button>
</div>

<app-profile
  *ngIf="profiles"
  pfpUrl="{{ profiles.avatar_url }}"
  bio="{{ profiles.bio }}"
  username="{{ profiles.username }}"
  name="{{ profiles.name }}"
  location="{{ profiles.location }}"
  titles="{{ profiles.titles }}"
  favorite_language="{{ profiles['favorite-language'] }}"
  public_repos="{{ profiles['public-repos'] }}"
  perfect_repos="{{ profiles['perfect-repos'] }}"
  total_stars="{{ profiles['total-stars'] }}"
  highest_starred="{{ profiles['highest-starred'] }}"
  followers="{{ profiles.followers }}"
  following="{{ profiles.following }}"
></app-profile>
